<%- include('layout', { title: 'Items', token: token, body: `
<section class="section">
    <div class="container">
        <h1 class="title">Items</h1>
        <div class="control mt-5">
            <button class="button is-link" onclick="getItems()">Get Items</button>
        </div>
        <table class="table is-fullwidth is-striped mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody id="items-table-body">
                <!-- Items will be rendered here -->
            </tbody>
        </table>
    </div>
</section>
<script src="/index_page.js"></script>
` }) %>